<header class="app-header d-flex align-items-center justify-content-between p-3">
    <!-- Left Side - Temperature Icon -->
    <div class="left-icon d-flex align-items-center">
      <mat-icon>thermostat</mat-icon> <!-- Angular Material Icon for temperature -->
    </div>
  
    
  
    <!-- Right Side - List of Tabs -->
    <div class="right-tabs">
      <ul class="nav" style="display: flex; align-items: center; justify-content: center;">
        <li class="nav-item">
            <a routerLink="/add-data" routerLinkActive="active" class="d-block w-100">Add Data</a>        </li>
        <li class="nav-item">
            <a routerLink="/view-data" routerLinkActive="active" class="d-block w-100">View Data</a>
        </li>
        
      </ul>
    </div>
  </header>
  